root = true

# Global settings for all files
[*]
indent_style = tab
indent_size = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Go files
[*.go]
indent_style = tab
indent_size = tab
max_line_length = off

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.yml]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
